#   TAB SENSITIVE!

    - URL=https://api.foodinhoods.com

    - RAILS_ENV=production
    - RAKE_ENV=production
    - "SECRET_KEY_PRODUCTION"

    - REDIS_HOST=redis://10.142.1.107:6379/5

    - "AWS_DB_HOST_PRODUCTION"
    - "AWS_DB_USERNAME_PRODUCTION"
    - "AWS_DB_PASSWORD_PRODUCTION"

    - S3_ASSET_HOST=cdn.foodinhoods.com
    - S3_BUCKET=foodinhoods-production
    - S3_REGION=eu-central-1
    - "S3_ACCESS_KEY_PRODUCTION"
    - "S3_SECRET_KEY_PRODUCTION"
    - "ACCESS_CODE"
    - "MERCHANT_IDENTIFIER"
    - "SHA_REQUEST_PHRASE"
    - "SHA_RESPONSE_PHRASE"
    - "SHA_TYPE"
    - PAYMENT_SANDBOX_MODE=false

    - "GMAPS_KEY"
