#   TAB SENSITIVE!

    - URL=https://api.staging.foodinhoods.com

    - RAILS_ENV=staging
    - RAKE_ENV=staging
    - "SECRET_KEY_STAGING"

    - REDIS_HOST=redis://10.141.1.161:6379/1

    - "AWS_DB_HOST_STAGING"
    - "AWS_DB_USERNAME_STAGING"
    - "AWS_DB_PASSWORD_STAGING"

    - S3_ASSET_HOST=cdn.staging.foodinhoods.com
    - S3_BUCKET=foodinhoods-staging
    - S3_REGION=eu-central-1
    - "S3_ACCESS_KEY_STAGING"
    - "S3_SECRET_KEY_STAGING"
    - ACCESS_CODE=wzBTueYAgOw1eD9Msp6m
    - MERCHANT_IDENTIFIER=TMclWFPP
    - SHA_REQUEST_PHRASE=asdaserefdsc
    - SHA_RESPONSE_PHRASE=sdfasfdewrfs
    - "SHA_TYPE"
    - PAYMENT_SANDBOX_MODE=true

    - GMAPS_KEY=AIzaSyCVjQfSzbOz6WMHH4a_U7l7N8O8llg5fPw
