p = t('devise.shared.greeting', name: @resource.name)
p = t('devise.passwords.reset_message')
p = link_to t('devise.passwords.change_link'), edit_password_url(@resource, reset_password_token: @token)
p = t('devise.passwords.reset_footer')
